/* Основное окно модального окна */
.add-regular-lesson-modal {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    max-height: 90vh;
    height: auto;
    margin: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Затенение фона при открытом модальном окне */
.add-regular-lesson-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.add-regular-lesson-modal h2 {
    font-size: 1.2rem;
    margin-bottom: 8px;
    text-align: center;
    color: #333;
}

.add-regular-lesson-modal form {
    display: flex;
    flex-direction: column;
    gap: 3px; /* Уменьшенный отступ между элементами */
}

.add-regular-lesson-modal label {
    display: block;
    font-size: 0.9rem;
    font-weight: 600;
    color: #555;
    margin-bottom: 2px;
}
.add-regular-lesson-modal textarea {
    width: 97%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.add-regular-lesson-modal select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
.add-regular-lesson-modal input {
    width: 97%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
.add-regular-lesson-modal .form-row {
    display: flex;
    flex-direction: column;
}

.add-regular-lesson-modal .period-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-regular-lesson-modal .modal-buttons {
    display: flex;
    justify-content: space-between; /* Кнопка отмена справа */
    gap: 10px;
}

.add-regular-lesson-modal button {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.add-regular-lesson-modal button[type='submit'] {
    background-color: #4caf50;
    color: white;
}

.add-regular-lesson-modal button[type='submit']:hover {
    background-color: #45a049;
}

.add-regular-lesson-modal button[type='button'] {
    background-color: #f44336;
    color: white;
    margin-left: auto; /* Сдвиг кнопки отмена вправо */
}

.add-regular-lesson-modal button[type='button']:hover {
    background-color: #e53935;
}
.error-message {
    color: #d9534f;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

/* Для мобильных устройств */
@media (max-width: 768px) {
    .add-regular-lesson-modal {
        max-width: 90%;
        padding: 15px;
    }

    .modal-buttons {
        flex-direction: column;
        gap: 8px;
    }

    .modal-buttons button {
        width: 100%;
    }
}
