.group-modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.add-user-form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    width: 90%;
    max-width: 500px;
    position: relative;
    max-height: auto;
}
.student-field {
    margin-bottom: 6px;
}

.add-field-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: -20px;
    cursor: pointer;
}

.add-field-button:hover {
    background-color: #0056b3;
}

.modal-actions-group {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.group-submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;

    cursor: pointer;
}

.group-submit-button:hover {
    background-color: #218838;
}

.group-cancel-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.group-cancel-button:hover {
    background-color: #c82333;
}
.remove-field-button {
    background-color: #dc3545;
    color: white;
    border: none;
    /* padding: 5px 10px; */
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: -2px;
    width: 100%;
}

.remove-field-button:hover {
    background-color: #c82333;
}
