.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2c3e50; /* Тёмный фон */
    color: white; /* Белый текст */
    height: 60px; /* Высота шапки */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
    position: fixed; /* Фиксируем Header */
    top: 0;
    left: 0;
    width: 100%; /* На всю ширину */
    z-index: 1000; /* Поверх контента */
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    font-size: 24px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    color: #1abc9c; /* Изумрудный */
}

.header-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 35px;
}

.profile-pic-header {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #1abc9c;
}

.profile-name {
    font-size: 16px;
    font-weight: bold;
    max-width: 150px; /* Ограничение ширины имени */
    white-space: nowrap; /* Запрещаем перенос строки */
    overflow: hidden; /* Скрываем текст, выходящий за пределы */
    text-overflow: ellipsis; /* Добавляем "..." для длинных имён */
}
@media (max-width: 768px) {
    .profile-name {
        max-width: 100px; /* Уменьшаем максимальную ширину на маленьких экранах */
    }
}
.logout-button {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}
