.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%; /* Высота страницы */
    width: 100%; /* Полная ширина страницы */
}

.header {
    width: 100%; /* Header занимает всю ширину экрана */
    position: fixed; /* Фиксируем Header в верхней части экрана */
    top: 0;
    left: 0;
    z-index: 1000; /* Поверх всего контента */
}

.app-container {
    display: flex;
    flex: 1; /* Контейнер занимает оставшуюся высоту после Header */
    margin-top: 60px; /* Отступ равен высоте Header */
    height: calc(
        100vh - 60px
    ); /* Убираем высоту Header из доступного пространства */
}

.content {
    flex: 1; /* Контент занимает оставшееся пространство */
    padding: 20px;
    overflow-y: auto; /* Прокрутка для длинного контента */
    background-color: #f4f4f4; /* Светлый фон */
}
