.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%; /* Высота страницы */
    width: 100%; /* Полная ширина страницы */
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.app-container {
    display: flex;
    flex: 1;
    margin-top: 60px;
    height: calc(100vh - 60px);
}
/* 
.content {
    flex: 1; 
    padding: 20px;

    overflow-y: auto;
    background-color: #f4f4f4;
} */
.content {
    flex: 1;
    padding: 20px;
    /* margin-left: 250px;  */
    height: 100vh;
    overflow-y: auto; /* Разрешаем скроллинг */
    background-color: #f4f4f4;
}
