.schedule-page {
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    /* overflow-y: auto; */
}

.schedule-page {
    position: relative;
    padding: 20px;
}

.canceled-event .fc-event-title {
    text-decoration: line-through;
    /* color: gray; */
}

.fc {
    z-index: 1; /* Устанавливаем более низкий z-index для элементов FullCalendar */
}
.lesson-details {
    margin-top: 20px;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
}
